@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-wave-image{
    background-image: url(./assets/hero_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper{
    width: min(100%, 1480px);
    margin: auto;
}

.carousel .slide{
    text-align: unset !important;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide{
    display: flex;
    align-items: center !important;
}